<!-- Top announcement strip -->
<div class="topbar">
    <div class="container topbar__container">
        <span class="topbar__item"><span class="topbar__dot"></span> Новая обжарка: Колумбия Finca&nbsp;El&nbsp;Paraiso уже в&nbsp;баре</span>
        <span class="topbar__item topbar__item--right">Ежедневно с&nbsp;08:00 до&nbsp;23:00 · м.&nbsp;Театральная</span>
    </div>
</div>
